In [1]:
import pandas as pd
import numpy as np
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

Reading data from "data_cleaning.xlsx" and storing in "data".

In [2]:
data = pd.read_excel('~/DMFinalTerm_TeamID_05/data/data_cleaning.xlsx',index_col=0)

Aggregating attribute values 'HARYANA','HIMACHAL PRADESH','JAMMU AND KASHMIR','PUNJAB','UTTAR PRADESH','RAJASTHAN','UTTARAKHAND','DELHI (UT)','CHANDIGARH' into 'NORTH INDIA'.

In [3]:
d = data[data['STATE/UT'].isin(['HARYANA','HIMACHAL PRADESH','JAMMU AND KASHMIR','PUNJAB','UTTAR PRADESH','RAJASTHAN','UTTARAKHAND','DELHI (UT)','CHANDIGARH'])]

In [4]:
d1 = d.groupby(['CAUSE','Year']).sum().reset_index()
d1.insert(2,'Region','NORTH INDIA')

Aggregating attribute values 'GOA','GUJARAT','MAHARASHTRA','D & N HAVELI','DAMAN & DIU' into 'WEST INDIA'.

In [5]:
d = data[data['STATE/UT'].isin(['GOA','GUJARAT','MAHARASHTRA','D & N HAVELI','DAMAN & DIU'])]

In [6]:
d2 = d.groupby(['CAUSE','Year']).sum().reset_index()
d2.insert(2,'Region','WEST INDIA')

Aggregating attribute values 'ANDHRA PRADESH','KARNATAKA','KERALA','TAMIL NADU','LAKSHADWEEP','PUDUCHERRY' into 'SOUTH INDIA'.

In [7]:
d = data[data['STATE/UT'].isin(['ANDHRA PRADESH','KARNATAKA','KERALA','TAMIL NADU','LAKSHADWEEP','PUDUCHERRY'])]

In [8]:
d3 = d.groupby(['CAUSE','Year']).sum().reset_index()
d3.insert(2,'Region','SOUTH INDIA')

Aggregating attribute values 'BIHAR','JHARKHAND','ORISSA','WEST BENGAL','A & N ISLANDS' into 'EAST INDIA'.

In [9]:
d = data[data['STATE/UT'].isin(['BIHAR','JHARKHAND','ORISSA','WEST BENGAL','A & N ISLANDS'])]

In [10]:
d4 = d.groupby(['CAUSE','Year']).sum().reset_index()
d4.insert(2,'Region','EAST INDIA')

Aggregating attribute values 'CHHATTISGARH','MADHYA PRADESH' into 'CENTRAL INDIA'.

In [11]:
d = data[data['STATE/UT'].isin(['CHHATTISGARH','MADHYA PRADESH'])]

In [12]:
d5 = d.groupby(['CAUSE','Year']).sum().reset_index()
d5.insert(2,'Region','CENTRAL INDIA')

Aggregating attribute values 'ARUNACHAL PRADESH','ASSAM','MEGHALAYA','MIZORAM','MANIPUR','NAGALAND','SIKKIM','TRIPURA' into 'NORTH EAST INDIA'.

In [13]:
d = data[data['STATE/UT'].isin(['ARUNACHAL PRADESH','ASSAM','MEGHALAYA','MIZORAM','MANIPUR','NAGALAND','SIKKIM','TRIPURA'])]

In [14]:
d6 = d.groupby(['CAUSE','Year']).sum().reset_index()
d6.insert(2,'Region','NORTH EAST INDIA')

Concatenating dataframes d1,d2,d3,d4,d5,d6 into f.

In [15]:
f = pd.concat([d1,d2,d3,d4,d5,d6],ignore_index=False)

Sorting values of "CAUSE" and then "Year" in ascending order.

In [16]:
f.sort_values(by=['CAUSE','Year'],inplace=True)

In [17]:
f

,CAUSE,Year,Region,Male,Female,Total
0,Bankruptcy or Sudden change in Economic Status,2001,NORTH INDIA,137,38,175.0
0,Bankruptcy or Sudden change in Economic Status,2001,WEST INDIA,383,40,423.0
0,Bankruptcy or Sudden change in Economic Status,2001,SOUTH INDIA,1655,324,1979.0
0,Bankruptcy or Sudden change in Economic Status,2001,EAST INDIA,98,45,143.0
0,Bankruptcy or Sudden change in Economic Status,2001,CENTRAL INDIA,132,40,172.0
...,...,...,...,...,...,...
467,Widowed/Widower,2012,WEST INDIA,422,355,777.0
467,Widowed/Widower,2012,SOUTH INDIA,1014,818,1832.0
467,Widowed/Widower,2012,EAST INDIA,294,485,779.0
467,Widowed/Widower,2012,CENTRAL INDIA,379,238,617.0
467,Widowed/Widower,2012,NORTH EAST INDIA,58,50,108.0

In [18]:
f.to_excel('~/DMFinalTerm_TeamID_05/data/regions_combined.xlsx')